$backgroundColor : linear-gradient(to bottom, #9dc0f2 0%,#6e87aa 33%,#344051 75%,#020303 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
$blockWidth : 100%;
$blockHeight : 100%;

$font-lg : 20px;
$font-medium : 14px;

$backgroundBtnOne : #bfd0e6;
$backgroundBtnTwo : #678ccb;
$backgroundBtnThree : #74aed7;
$backgroundBtnFour : #64a88e;
$textBtnOne : #8f5757;
$textBtnTwo : #711212;
$textBtnThree : #e3f73a;
$textBtnFour : white;

$backgroundTitleOne : #6a92d6;
$backgroundTitleTwo : #9c9077;
$backgroundTitleThree : #4d8f71;
$backgroundTitleFour : #a6a075;

$border-lg : 15px;
$border-medium : 10px;

$margin-bl : 20px;
$margin-bs : 8px;
